.header {
  .attorney-banner {
    background: url("../img/aboutphone.png") rgba(0, 0, 0, 0.5) no-repeat;
    background-position: top center;
    background-size: cover;
    background-blend-mode: overlay;
    height: 60vh;
    display: grid;
    place-items: center;
    .about-title {
      @extend .h2;
      text-align: center;
      margin-top: 8rem;
      color: #fff;
    }
    .law-banner-content {
      z-index: 999;
      .law-banner-title {
        @extend .h2;
        margin-bottom: 2.63rem;
        color: #fff;
      }
      .input-container {
        display: flex;
        flex-direction: row-reverse;
        width: 18.94rem;
        padding: 0 1.13rem;
        margin-bottom: 2.81rem;
        border: 2px solid #fff;
        border-radius: 3.81rem;
        .search-button {
          background: none;
          border: none;
          padding: 0;
          margin: 0;
        }
        .icon {
          padding: 10px;
          min-width: 50px;
          background: transparent;
          border: none;
        }
        .input-field {
          @extend .text;
          width: 100%;
          padding: 10px;
          outline: none;
          color: #fff;
          border-color: #fff;
          background: transparent;
          border: none;
          &::placeholder {
            color: #fff;
            @extend .text;
          }
        }
      }
    }
  }
}

.attorney-profile {
  margin-top: 3.69rem;
  .container {
    .attorney-info {
      margin-bottom: 3.25rem;
      .attorney-name {
        @extend .h2;
        margin-bottom: 2.94rem;
      }
      div{
        .attornery{
          width: 50rem;
        }
      }
      .info-container {
        div {
          display: flex;
          // align-items: center;
          justify-content: center;
          gap: 0.5rem;
          margin-bottom: 2.13rem;
          p {
            @extend .text-small;
          }
        }
      }

      .social-icon {
        display: flex;
        justify-content: center;
        gap: 1rem;
      }
    }
    .attorney-details {
      padding: 1.19rem 0;
      .btn-container {
        background: #ffffff;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
        border-radius: 5.19rem;
        display: flex;
        button{
          @extend .text-small;
          background: transparent;
          border: none;
          width: 100%;
          height: 100%;
          padding: 1.19rem 0.19rem;
          color: $primary-color;
          &:first-child{
            border-top-left-radius: 5.19rem;
            border-bottom-left-radius: 5.19rem;
          }
          &:last-child{
            border-top-right-radius: 5.19rem;
            border-bottom-right-radius: 5.19rem;
          }
        }
        .active{
          background: $primary-color;
          color: #fff;
        }
      }
      .attorney-content{
        .profile, .experience, .education{
          display: none;
        }
        .show{
          display: block;
        }
        .profile{
          @extend .text;
          margin-top: 4.56rem;
          p{
            .intro-link {
              color: $primary-color;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .experience{
          @extend .text;
          margin-top: 4.56rem;
          div{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            li{
              @extend .text;
              line-height: normal;
              // width: 100%;
              display: flex;
              align-items: flex-start;
              gap: 0.5rem;
              margin-bottom: 0.94rem;
            }
          }
          p{
            .intro-link {
              color: $primary-color;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .education{
          margin-top: 4.56rem;
          .edu-title, .admission-title{
            @extend .h4;
            margin-bottom: 1.8rem;
          }
          ul{
            // margin-bottom: 3.44rem;
            display: flex;
            justify-content: space-between;
            .uni-name{
              div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                li{
                  @extend .text;
                  line-height: normal;
                  // width: 100%;
                  display: flex;
                  align-items: flex-start;
                  gap: 0.5rem;
                  margin-bottom: 0.94rem;
                }
              }
            }
            .uni-logo{
              .logo-uni{
                width: 10rem;
                margin-left: 1rem;
                margin-bottom: 2rem;
                text-align: right;
                &:last-child{
                  width: 7rem;
                }
              }
            }
          }
          .admission{
            display: flex;
            flex-direction: column;
            div{
              display: flex;
              justify-content: space-between;
              margin-bottom: 1rem;
              li{
                @extend .text;
                line-height: normal;
                // width: 100%;
                display: flex;
                align-items: flex-start;
                gap: 0.5rem;
                margin-bottom: 0.94rem;
              }
            }
          }
        }
      }
    }
  }
}

@include responsive($md){
  .header{
    .attorney-banner{
      background: url("../img/aboutipad.png") rgba(0, 0, 0, 0.5) no-repeat;
   
    }
  }
  .attorney-profile{
    .container{
      height: auto;
      .attorney-details{
        .btn-container{
          button{
            font-size: 1.13rem;
          }
        }
      }
    }
  }
}

@include responsive($lg){
  .header{
    .attorney-banner{
      background: url("../img/atto.jpg") rgba(0, 0, 0, 0.5) no-repeat;
   
    }
  }
  .attorney-profile{
    .container{
      .attorney-info{
        display: block;
        position: -webkit-sticky;
        position: sticky;
        top: 0rem;
      }
    }
  }
}