
@font-face {
   font-family: 'futura';
   src: url(../css/fonts/futur.eot);
   src: url(../css/fonts/futur.eot?#iefix) format('embedded-opentype'),
        url(../css/fonts/futur.otf) format('otf'),
        url(../css/fonts/futur.svg#futur) format('svg'),
        url(../css/fonts/futur.ttf) format('truetype'),
        url(../css/fonts/futur.woff) format('woff'),
        url(../css/fonts/futur.woff2) format('woff2');
 }
 
 
 @font-face {
   font-family: 'Bold';
   src: url('../css/fonts/Futura\ Bold\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'Bold italic';
   src: url('../css/fonts/Futura\ Bold\ Italic\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'Book';
   src: url('../css/fonts/Futura\ Book\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'Book italic';
   src: url('../css/fonts/Futura\ Book\ Italic\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'Extra Black';
   src: url('../css/fonts/Futura\ Extra\ Black\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'Heavy';
   src: url('../css/fonts/Futura\ Heavy\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'Heavy italic';
   src: url('../css/fonts/Futura\ Heavy\ Italic\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'light bt';
   src: url('../css/fonts/futura\ light\ bt.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'light';
   src: url('../css/fonts/Futura\ Light\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'light italic';
   src: url('../css/fonts/Futura\ Light\ Italic\ font.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'medium bt';
   src: url('../css/fonts/futura\ medium\ bt.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'medium condensed bt';
   src: url('../css/fonts/futura\ medium\ condensed\ bt.ttf') format('truetype');
 }
 
 @font-face {
   font-family: 'medium italic';
   src: url('../css/fonts/Futura\ Medium\ Italic\ font.ttf') format('truetype');
 }