.main-text {
  margin-top: 3.5rem;
  .container {
    .side-links {
      display: none;
    }
    .content {
      .service-title {
        @extend .h2;
        font-size: 1.8rem;
        margin-bottom: 3.88rem;
      }
      img {
        margin: 2.58rem 0;
      }
      p {
        @extend .text;
        a{
          font-weight: 700;
          text-decoration: underline;
        }
      }
      strong{
        @extend .text;
        
      }
    }
  }
}

@include responsive($md){
  .main-text {
    .container {
      .content {
        .service-title {
          font-size: 2.44rem;
          margin-bottom: 3.88rem;
        }
      }
    }
  }
}
@include responsive($lg) {
  .main-text {
    .container {
      align-items: flex-start;
      gap: 1rem;
      .side-links {
        display: block;
        position: sticky;
        top: 12.75rem;
        h3 {
          font-family: "medium bt";
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.5rem;
          margin-bottom: 1.81rem;
        }
        ul {
          margin-bottom: 3.5rem;
          li {
            a {
              font-family: "light bt";
              font-size: 1.13rem;
              line-height: 1.75rem;
            }
          }
        }
      }
    }
  }
}
@include responsive($xl){
  .main-text {
    .container {
      .content {
        img,
        p {
          width: 58.19rem;
        }
      }
    }
  }

}
