.main-text {
  margin-top: 2.5rem;
 
  .container {
    // flex-direction: row-reverse;
    .list{
      h2{
        font-family: "medium bt";
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.5rem;
        margin-bottom: 1.81rem; 
      }
      ul {
        margin-bottom: 3.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

        li {
          margin-bottom: 1rem;
        
          a {
            font-family: "light bt";
            font-size: 1.13rem;
            line-height: 1.75rem;
            &:hover{
              color: $primary-color;
            }
            
          }
        }
      }
            }
    .side-links {
      margin-top: 5rem;
      display: none;

        h3 {
          font-family: "medium bt";
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.5rem;
          margin-bottom: 1.81rem;
        }
        ul {
          margin-bottom: 3.5rem;
          .line{
            width: 14.19rem;
            background: $primary-color;
            height: 1px;
            margin-top: 2.38rem;
            margin-bottom: 1.19rem;
          }
          li {
            margin-bottom: 1rem;
          
            a {
              font-family: "light bt";
              font-size: 1.13rem;
              line-height: 1.75rem;
              &:hover{
                color: $primary-color;
              }
              
            }
          }
        }
    }
.contact-form{
  margin-top: 2rem;
// margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:5rem;
  position: sticky;
  // width: 45%; 
  background: $secondary-color;
  .container {
    width: 100%;
    padding: 0 1rem;
    margin-top: 3.13rem;
    background: transparent;
    h2 {
      @extend .h2;
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #fff;
    }
    p {
      @extend .text;
      color: #fff;
      margin-bottom: 2rem;
      max-width: 38rem;
    }
    .myform {
      input,
      textarea {
        @extend .text;
        color: #fff;
        width: 18.94rem;
        border: none;
        background: #fff;
        padding: 1.13rem 0.8rem;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.08);
        margin-bottom: 1.38rem;
        outline: none;
      }
      .socials {
        color: #fff;
        font-family: "Futura", 'Poppins';
        font-weight: bold;
        font-size: 1rem;
        // width: 18.94rem;
        display: flex;
        justify-content: center;
        gap: 1.31rem;
        margin: 1.38rem 0 1.69rem;
        ul {
          display: flex;
          gap: 0.88rem;
        }
      }
      .button {
        @extend .text;
        margin-bottom: 2.38rem;
        text-align: center;
      }
    }
  }
}
    .side-contact {
      margin-top: 2rem;
      display: none;
      // display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .side-call, .side-email, .side-address {
        margin-bottom: 1.56rem;
      }
      h3{
        text-align: center;
        margin-bottom: 1.56rem;
        @extend .title;
        color: #000 !important;
      }
      .side-email{
        .about-email{
          margin: 0 auto;
          margin-bottom: 2rem;
        }
        .email-container{
          display: flex;
          flex-direction: column;
    
          a{
            @extend .text;
            
            margin-bottom: 1rem;
            cursor: pointer;
            &:hover{
              color: $primary-color;
              text-decoration: underline;
            }
          }
        }
      }
      .side-call{
        .icon-container{
          display: flex;
          flex-direction: column;
          gap: 2.13rem;
          a{
            display: flex;
            gap: 1rem;
            p{
              @extend .text;
            }
            &:hover{
              color: $primary-color;
              text-decoration: underline;
            }
          }
        }
      }
      .side-address{
        margin-top: 2.94rem;
        .about-address{
          margin: 0 auto;
          margin-bottom: 2rem;
        }
        .add{
          display: flex;
          align-items: flex-start;
          gap: 0.81rem;
          img{
            margin-top: .35rem;
          }
          p{
            max-width: 13.5rem;
            text-align: center;
            @extend .text;
          }
        }
      }
    }
    .content {
      .service-title {
        @extend .h2;
        font-size: 1.8rem;
        margin-bottom: 3.88rem;
      }
      // img {
      //   margin: 2.58rem 0;
      // }
      p {
        @extend .text;
        margin-top: 1rem;
        a{
          // font-weight: 700;
          // text-decoration: underline;
        }
        .intro-link {
          color: $primary-color;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      strong{
        @extend .text;
        
      }
    }
  }
}
.active-link{
  color: $primary-color;
  font-weight: bold;
}
@include responsive($md){
  .main-text {
    .container {
      .list{
        ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
      .content {
        .service-title {
          font-size: 2.44rem;
          margin-bottom: 0.88rem;
        }
      }
    }
  }
  

}
@include responsive($lg) {
  .main-text {
    .container {
      .list{
        display: none;
      }
      align-items: flex-start;
    flex-direction: row;
      gap: 1rem;
      .side-links {
        display: block;
        position: sticky;
        top: 12.75rem;
        background: $blue;
        color: #fff;
        padding: .6rem;
        // margin-right: 2rem;
        h3 {
          font-family: "medium bt";
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.5rem;
          margin-bottom: 1.81rem;
          color: #fff;
        }
        ul {
          margin-bottom: 3.5rem;
          
          li {
          
            a {
              color: #fff;
              font-family: "light bt";
              font-size: 1.13rem;
              line-height: 1.75rem;
            }
          }
        }
      }
      .side-contact{
        display: block;
       flex-direction: column;
      align-items: center;
        position: sticky;
        top: 12.75rem;
      }
    }
  }
}
@include responsive($xl){
  .main-text {
    .container {
      .side-links{
        padding: 2rem;

      }
      .content {
        img,
        p {
          width: auto;
        }
      }
      .side-contact{
        display: flex;
      }
      .contact-form{
        margin-top: 5rem;
      }
    }
  }

 
}
