@import "fonts";
@import "reboot";
@import "mixins";
@import "utilities";

.header {
  position: relative;
  .nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    .container {
      .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .links-container {
        position: fixed;
        top: 0;
        right: -80vw;
        height: 100vh;
        width: 80vw;
        background: lightblue;
        z-index: 9999999999;
        transition: $trans;
        .close-btn {
          padding: 1rem;
          width: 3rem;
        }
        .nav-links {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 2rem;
          li {
            .scroll-link {
              @extend .text-medium;
            }
          }
        }
      }
    }
  }
  .banner {
    background: url("../img/banner.jpg") rgba(0, 0, 0, 0.35) no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
   
    .banner-content {
      color: #fff;
      margin-top: 4rem;
      .banner-title {
        @extend .h2;
        margin-bottom: 2.5rem;
      }
      .banner-subtitle {
        @extend .text-medium;
        margin-bottom: 2.56rem;
      }
    }
  }
}

.social-proof {
  height: 12.88rem;
  background: #fdfdfd;
  display: grid;
  place-items: center;
  .container {
    .logo-container {
      overflow: scroll;
      padding: 2rem;
      height: 100%;
      display: flex;
      img {
        padding-right: 2rem;
      }
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }
}

.features {
  position: relative;
  overflow: hidden;
  .f-circle {
    position: absolute;
    top: 1.19rem;
    right: 10.06rem;
  }
  .feature-blob {
    position: absolute;
    top: 32.13rem;
    left: 13.38rem;
  }
  .container {
    .features-upper {
      .features-title {
        @extend .h2;
        margin-top: 7.06rem;
        margin-bottom: 1.19rem;
      }
      .features-subtitle {
        @extend .text;
        margin-bottom: 1.69rem;
      }
    }
    .features-lower {
      margin-top: 7.56rem;
      .feature-card {
        margin-bottom: 6.06rem;
        .card-img {
          margin-bottom: 0.75rem;
        }
        .card-title {
         @extend .medium;
          margin-bottom: 0.75rem;
        }
        .card-text {
          @extend .text-small;
          width: 15.94rem;
        }
      }
    }
  }
}

.practice {
  position: relative;
  overflow: hidden;
  // background: lightblue;
  .absolute{
    position: absolute;
    z-index: -1;
  }
  .practice-blob1{
    @extend .absolute;
    top: 35rem;
    left: 9.69rem;
  }
  .practice-blob2{
    @extend .absolute;
    bottom: 5.75rem;
    right: 14rem;
  }
  .container {
    .practice-title {
      @extend .h2;
      text-align: center;
    }
    .practice-card{
      .single-card{
        margin: .5rem;
        margin-top: 2.69rem;
        padding: 1.81rem 1.31rem 1.81rem;
        height: 21.19rem;
        background: #fff;
        box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.12);
        img{
          padding-bottom: 2.81rem;
        }
        .single-card-title{
          @extend .medium;
          margin-bottom: 1.5rem;
        }
        .single-card-text{
          @extend .text;
        }
      }
    }
  }
}
.testimonials{
  margin-top: 5.69rem;
  background: linear-gradient(180deg, #FDFDFD 0%, rgba(253, 253, 253, 0) 100%);
  .container{
    .testi-title{
      @extend .h2;
      margin-top: 2.56rem;
      text-align: center;
    }
    .testi-card{
      margin-top: 3.88rem;
      background: #fff;
      border: 1px solid #E4E4E4;
      img{
        margin-top: -1.63rem;
        margin-left: 1.19rem;
      }
      .testi-text{
        @extend .text;
      }
      .testi-footer{
        display: flex;
        justify-content: space-between;
        .testi-name{
          @extend .medium;
        }
        .icons-container{
          display:flex;
          gap: 0.5rem;
        }
      }
    }
  }
}
footer {
  margin-top: 4rem;
  height: 100vh;
}
