@import "fonts";
@import "reboot";
@import "mixins";
@import "utilities";
@import "contact";
@import "laws";
@import "service";
@import "attorney";
@import "about";

.fixed {
  position: fixed !important;
  top: 0;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

.black {
  color: #000 !important;
}
.header {
  position: relative;
  .nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    padding-bottom: 1rem;
    transition: all 0.3s linear;
    .container {
      .nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu {
          width: 3rem;
        }
      }
      .links-container {
        position: fixed;
        top: 0;
        right: -70vw;
        height: 100vh;
        width: 70vw;
        background: $secondary-color;
        z-index: 9999999999;
        transition: $trans;
        .close-btn {
          padding: 1rem;
          width: 3rem;
          position: absolute;
          top: 2.5rem;
          right: 2.5rem;
        }
        .nav-links {
          height: 50%;
          padding-top: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 2rem;
          li {
            .scroll-link {
              @extend .text-medium;
              color: #f4f4f4;
            }
          }
        }
      }
    }
  }
  .banner {
    background: url("../img/banner.jpg") rgba(0, 0, 0, 0.35) no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;

    .banner-content {
      color: #fff;
      margin-top: 4rem;
      .banner-title {
        font-family: "medium bt";
        font-weight: 700;
        font-size: 2.44rem;
        line-height: 2.88rem;
        margin-bottom: 1.31rem;
        max-width: 33.00rem;
      }
      .banner-subtitle {
        @extend .text-medium;
        margin-bottom: 2.56rem;
      }
    }
  }
}

@include responsive($md) {
  .header {
    .banner {
      .banner-content {
        .banner-title {
          font-family: "Futura";
          font-weight: 700;
          font-size: 3.31rem;
          line-height: 4.31rem;
          margin-bottom: 2.31rem;
        }
      }
    }
  }
}

@include responsive($xl) {
  .header {
    .banner {
      .banner-content {
        .banner-title {
          font-family: "Futura";
          font-weight: 700;
          font-size: 4.31rem;
          line-height: 4.31rem;
          margin-bottom: 2.31rem;
        }
      }
    }
  }
}

@include responsive($lg) {
  .header {
    .nav {
      padding-top: 1.75rem;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-header {
          display: block;
          .menu {
            display: none;
          }
        }
        .links-container {
          position: static;
          height: auto;
          z-index: 9999999999;
          transition: $trans;
          background: none;
          width: 70%;
          max-width: 46.69rem;
          .close-btn {
            display: none;
          }
          .nav-links {
            height: auto;
            display: flex;
            padding-top: 0%;
            flex-direction: row;
            justify-content: space-between;
            justify-content: space-between;
            padding-left: 2rem;
          }
        }
      }
    }
  }
}

.features {
  position: relative;
  overflow: hidden;
  .f-circle {
    position: absolute;
    top: 1.19rem;
    right: 10.06rem;
    z-index: -1;
  }
  .feature-md {
    display: none;
  }
  .feature-blob {
    position: absolute;
    top: 32.13rem;
    left: 13.38rem;
  }
  .container {
    .features-upper {
      .features-title {
        @extend .h2;
        margin-top: 7.06rem;
        margin-bottom: 1.19rem;
      }
      .features-subtitle {
        @extend .text;
        margin-bottom: 1.69rem;
      }
    }
    .features-lower {
      margin-top: 7.56rem;
      .feature-card {
        margin-bottom: 6.06rem;
        padding: 2rem;
        .card-img {
          margin-bottom: 0.75rem;
        }
        .card-title {
          @extend .medium;
          margin-bottom: 0.75rem;
        }
        .card-text {
          @extend .text-small;
          width: 15.94rem;
        }
      }
    }
  }
}

@include responsive($md) {
  .features {
    .f-circle {
      top: 0rem;
      left: -10.06rem;
      z-index: -1;
    }
    .feature-blob {
      display: none;
    }
    .feature-md {
      display: block;
      position: absolute;
      z-index: -1;
      top: 50%;
      right: -50%;
    }
    .container {
      .features-lower {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
@include responsive($lg) {
  .features {
    .container {
      .features-upper {
        .features-title {
          font-family: "medium bt";
          font-weight: 700;
          font-size: 2rem;
          line-height: 2.88rem;
          margin-top: 7.06rem;
          margin-bottom: 1.19rem;
        }
      }
    }
    .feature-md {
      top: 25%;
      right: -30%;
    }
  }
}

@include responsive($xl) {
  .features {
    .container {
      .features-upper {
        .features-title {
          font-family: "Futura";
          font-weight: 700;
          font-size: 3.31rem;
          line-height: 3.98rem;
        }
      }
      .features-lower {
        .feature-card {
          .card-text {
            font-family: "light bt";
            font-size: 1.13rem;
            line-height: 1.75rem;
          }
        }
      }
    }
  }
}

@include responsive($xxl) {
  .features {
    .feature-md {
      right: -15%;
    }
    .f-circle {
      left: 0;
    }
  }
}
.practice {
  position: relative;
  overflow: hidden;
  // background: lightblue;

  .practice-blob1 {
    @extend .absolute;
    top: 35rem;
    left: 9.69rem;
    animation: pulse 5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(6rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  .practice-blob2 {
    @extend .absolute;
    bottom: 5.75rem;
    right: 14rem;
    animation: pulse 5s infinite;
  }
  .container {
    padding: 0 1rem;
    .practice-title {
      @extend .h2;
      text-align: center;
    }
    .practice-card {
      margin-bottom: 4rem;
      .single-card {
        // margin: 0.5rem;
        position: relative;
        margin-top: 2.69rem;
        padding: 1.81rem 1.31rem 1.81rem;
        height: 21.19rem;
        background: #fff;
        box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        .hover {
          position: absolute;
          bottom: 0.2rem;
          left: 0.2rem;
          content: "";
          display: block;
          width: 98%;
          height: 50%;
          background: $primary-color;
          z-index: -1;
          transition: all 0.2s ease-in-out;
        }
        &:hover .hover {
          transform: translateY(1.3rem) rotate(5.54deg);
        }
        img {
          padding-bottom: 1.81rem;
        }
        .single-card-title {
          @extend .medium;
          margin-bottom: 1.5rem;
        }
        .single-card-text {
          @extend .text;
        }
      }
    }
  }
}

@include responsive($md) {
  .practice {
    .practice-blob1 {
      left: 80%;
      top: 15rem;
    }
    .practice-blob2 {
      bottom: 0;
      right: 34rem;
    }
    .container {
      // width: 100%;
      .practice-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .single-card {
          // width: 21.19rem;
          width: auto;
          height: auto;
          margin: 0;
          margin-top: 2.69rem;
        }
      }
    }
  }
}

@include responsive($lg) {
  .practice {
    .practice-blob2 {
      bottom: 0;
      right: 54rem;
    }
    .container {
      padding-right: 1rem;
      width: 90%;
      .practice-card {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}

@include responsive($xl) {
  .practice {
    .practice-blob2 {
      bottom: 0;
      right: 74rem;
    }
  }
}
@include responsive($xxl) {
  .practice {
    .practice-blob1 {
      left: 90%;
    }
    .practice-blob2 {
      bottom: 0;
      right: 95rem;
    }
  }
}
.testimonials {
  margin-top: 5.69rem;
  background: linear-gradient(180deg, #fdfdfd 0%, rgba(253, 253, 253, 0) 100%);
  .testi-title {
    @extend .h2;
    margin-top: 2.56rem;
    text-align: center;
  }
  .container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    .testi-container {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 0;
      }
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      width: auto;
      margin: 0 auto;
      .testi-card {
        width: 20.56rem;
        margin-top: 3.88rem;
        background: #fff;
        border: 1px solid #e4e4e4;
        .testi-img {
          margin-top: -1.63rem;
          margin-left: 1.19rem;
        }
        .testi-text {
          @extend .text;
          margin: 1rem 1.2rem 0.81rem 1rem;
        }
        .testi-footer {
          margin: 0 0.69rem 2rem 1rem;
          display: flex;
          justify-content: space-between;
          .testi-name {
            @extend .medium;
          }
          .icons-container {
            display: flex;
            gap: 0.5rem;
          }
        }
      }
    }
  }
}

@include responsive($xxl) {
  .testimonials {
    .container {
      .testi-container {
        gap: 7rem;
      }
    }
  }
}
.attorney {
  margin-top: 4.44rem;
  .attorney-title {
    @extend .h2;
    text-align: center;
  }
  .attorney-container {
    .attorney-img {
      margin-top: 3.69rem;
      width: 22.25rem;
    }
    .container {
      .attorney-text {
        @extend .text;
        line-height: 2.31rem;
        margin-top: 4.44rem;
      }
      a {
        margin-top: 2.88rem;
      }
    }
  }
}
@include responsive($md) {
  .attorney {
    .attorney-container {
      .attorney-img {
        width: 40rem;
      }
    }
  }
}

@include responsive($lg) {
  .attorney {
    margin: 7rem 0;
    .attorney-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .container {
        a {
          margin-top: 0.88rem;
        }
      }
    }
  }
}
@include responsive($xxl) {
  .attorney {
    .attorney-container {
      align-items: center;
      .attorney-img {
        width: 58rem;
      }
      .container {
        .attorney-text {
          font-size: 1.13rem;
        }
      }
    }
  }
}
.laws {
  position: relative;
  margin-top: 4.25rem;
  overflow: hidden;
  padding-top: 6.44rem;
  padding-bottom: 2.38rem;
  .law-upper {
    @extend .absolute;
    top: 0;
    left: 13.38rem;
    animation: updown 5s infinite;
  }
  @keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes downup {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  .law-lower {
    @extend .absolute;
    bottom: 0;
    right: 4.19rem;
    animation: updown 5s infinite;
  }
  .laws-title {
    @extend .h2;
  }
  .laws-cards {
    margin-top: 2.31rem;

    .law-card {
      background: #fff;
      border: 1px solid #e3e3e3;
      border-radius: 0.63rem;
      margin-bottom: 3.5rem;
      max-width: 26rem;
      transition: all 0.3s linear;
      .law-card-img {
        object-fit: cover;
        border-top-left-radius: 0.63rem;
        border-top-right-radius: 0.63rem;
        filter: grayscale(1);
        width: 26rem;
        transition: all 0.3s linear;
      }
      .container {
        padding-top: 1.38rem;
        .law-card-date {
          margin-bottom: 2.25rem;
          @extend .text-small;
          color: #7d7d7d;
        }
        .law-card-title {
          @extend .h4;
          margin-bottom: 2rem;
          transition: all 0.3s linear;
        }
      }
      &:hover .law-card-title {
        color: $primary-color;
      }
      &:hover {
        box-shadow: 2px 2px 41px rgba(0, 0, 0, 0.12);
      }
      &:hover .law-card-img {
        filter: grayscale(0);
      }
    }
  }
}

@include responsive($md) {
  .laws {
    .law-upper {
      top: 0;
      left: 33.38rem;
    }
    .law-lower {
      bottom: 0;
      right: 34.19rem;
    }
    .laws-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      .law-card {
        .law-card-img {
          height: 18.63rem;
        }
      }
    }
  }
}

@include responsive($lg) {
  .laws {
    .law-upper {
      top: 0;
      left: 53.38rem;
    }
    .law-lower {
      bottom: 0;
      right: 48.19rem;
    }
    .laws-cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@include responsive($xl) {
  .laws {
    .law-upper {
      top: 0;
      left: 76.38rem;
    }
    .law-lower {
      bottom: 0;
      right: 68.19rem;
    }
  }
}

@include responsive($xxl) {
  .laws {
    .law-upper {
      top: 0;
      left: 98.38rem;
    }
    .law-lower {
      bottom: 0;
      right: 98.19rem;
    }
  }
}
.footer {
  background: $blue;
  margin-top: 10.94rem;
  overflow-x: hidden;
  .title {
    font-family: "medium bt";
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 2.25rem;
  }
  .container {
    padding-top: 4.5rem;
    .footer-logo {
      .logo {
        margin-bottom: 3.25rem;
      }
      .icon-container {
        display: flex;
        gap: 1rem;
      }
    }
    .footer-contact {
      margin-top: 6.38rem;
      .footer-contact-title {
        @extend .title;
      }
      .contact-info {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        margin-bottom: 1.19rem;
        div {
          .location {
            width: 9.85rem;
          }
          p {
            margin-bottom: 0.5rem;
            @extend .text;
            color: #fff;
          }
        }
      }
    }
    .corporate {
      margin-top: 2.56rem;
      .corporate-title {
        @extend .title;
      }
      ul {
        li {
          a {
            color: #fff;
            @extend .text;
          }
        }
      }
    }
    .single {
      .single-title {
        @extend .title;
        margin-top: 4.38rem;
      }
      ul {
        li {
          a {
            color: #fff;
            @extend .text;
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 7rem;
    @extend .text-small;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-bottom: 2.38rem;
    a {
      color: #fff;
    }
  }
}

@include responsive($md) {
  .footer {
    .container {
      .footer-contact {
        margin-top: 0;
      }
      .corporate {
        margin: 0;
      }
      .single {
        .single-title {
          margin-top: 0;
        }
      }
    }
  }
}

@include responsive($lg) {
  .footer {
    .container {
      // gap: 1rem;
      justify-content: center;
    }
  }
}
