@import "fonts";
@import "reboot";
@import "mixins";
@import "utilities";
@import "contact";
@import "laws";
@import "service";
@import "attorney";
@import "about";

.fixed {
  position: fixed !important;
  top: 0;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}
.show-links{
  display: flex !important;
}
.black {
  color: #000 !important;
}
.header {
  position: relative;
  .nav {
    position: absolute;
    width: 100%;
    z-index: 999;
    padding: 1rem 0;
    transition: all 0.3s linear;
    .container {
      .nav-header {
      
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
          a{
            img{
              width: 100%;
              max-width: 15.75rem;
            }
            // .mobile-logo{
            //   width: 5rem;
            // }
          }
         
        }
        .menu {
          width: 3rem;
        }
      }
      .links-container {
        position: fixed;
        top: 0;
        right: -70vw;
        height: 100vh;
        width: 70vw;
        background: $secondary-color;
        z-index: 9999999999;
        transition: $trans;
        .close-btn {
          padding: 1rem;
          width: 3rem;
          position: absolute;
          top: 2.5rem;
          right: 2.5rem;
        }
        .nav-links {
          height: 50%;
          padding-top: 20rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding-left: 2rem;
          li {
            margin-bottom: 1rem;
            .scroll-link {
              @extend .text-medium;
              font-size: 1.5rem;
              color: #f4f4f4;
              
            }
            .sublinks {
              margin: 1rem 0;
            
              color: #fff;
              h3 {
                font-family: "medium bt";
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 1rem;
              }
              img {
                width: 1.2rem;
              }
              li {
                margin-bottom: .5rem;
                margin-left: 1rem;
                a {
                  font-family: "light bt";
                  font-size: 0.88rem;
                  display: flex;
                  gap: .5rem;
                  color: #fff;
                  transition: color .2s linear;
                  img{
                    width: .5rem;
                  }
                  &:hover{
                    color: #c2c2c2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .banner {
    background: url("../img/banner.jpg") rgba(0, 0, 0, 0.35) no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: overlay;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;

    .banner-content {
      color: #fff;
      margin-top: 4rem;
      .banner-title {
        font-family: "medium bt";
        font-weight: 700;
        font-size: 2.44rem;
        line-height: 2.88rem;
        margin-bottom: 1.31rem;
        max-width: 33rem;
      }
      .banner-subtitle {
        @extend .text-medium;
        margin-bottom: 2.56rem;
      }
      .cta-btn{
        font-size: 1.13rem;
        font-weight: 700;
      }
    }
  }
}

@include responsive($md) {
  .header {
    
    .banner {
      .banner-content {
        .banner-title {
          font-family: "Futura", 'Poppins';
          font-weight: 700;
          font-size: 3.31rem;
          line-height: 4.31rem;
          margin-bottom: 2.31rem;
        }
      }
    }
  }
}

@include responsive($lg){
  .header{
    .nav{
      .container{
        .links-container{
          .nav-links{
            li{
              .scroll-link{
                font-size: 1.13rem;
              }

            }
          }
        }
      }
    }
  }
}
@include responsive($xl) {
  .header {
    .nav{
      .container{
        .links-container{
          .nav-links{
            li{
              .scroll-link{
                // font-size: 1.5rem;
              }

            }
          }
        }
      }
    }
    .banner {
      .banner-content {
        .banner-title {
          font-family: "Futura", 'Poppins';
          font-weight: 700;
          font-size: 4.31rem;
          line-height: 4.31rem;
          margin-bottom: 2.31rem;
        }
      }
    }
  }
}

@include responsive($lg) {
  .header {
    .nav {
      padding-top: 1.75rem;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .nav-header {
          display: block;
          .menu {
            display: none;
          }
        }
        .links-container {
          position: static;
          height: auto;
          z-index: 9999999999;
          transition: $trans;
          background: none;
          width: auto;
        
          .close-btn {
            display: none;
          }
          .nav-links {
            height: auto;
            display: flex;
            padding-top: 0%;
            flex-direction: row;
            gap: 1.4rem;
            padding-left: 2rem;
            position: relative;
            .drop-down{
              .sublinks{
               
                position: absolute;
                width: auto;
                display: flex;
                background: $secondary-color;
                padding: 1.2rem 1rem 1rem .5rem;
                border-radius: .5rem;
                display: none;
                h3{
                  font-size: 1.13rem;
                  margin-bottom: 1.2rem;
                }
                li{
                  margin-bottom: 1rem;
                  a{
                    font-size: 1.13rem;
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}

@include responsive($xl){
  .header{
    .nav{
      .container{
        .links-container{

          .nav-links{
            gap: 3rem;
          }
        }

      }
    }
  }
}
.reach-out{
  position: fixed;
  z-index: 999;
  bottom: 50%;
  right: 0;
  transform: rotate(-90deg) translateY(130%);
  button{
    background: $lime-green;
    border: none;
    color: $primary-color;
    padding: .4rem 2rem;
    @extend .text;
    font-size: 1.3rem;
  }
}

.show-modal{
  display: grid !important;
}
.show-modal-inner{
  left: 0 !important;
  animation: slideIN .3s ease-in-out;
}

@keyframes slideIn {
  from{
    left: 60%; 
  }
  to{
    left: 0;
  }
}

.contact-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.6);
  display: none;
  place-items: center;
  z-index: 99999;
  .modal-inner{
    position: absolute;
    left: 60%;
    background: #fff;
    border-radius: 8px;
    padding-left: 1.31rem;
    padding-top: 1.75rem;
    padding-right: 4.56rem;
    position: relative;
    transition: left .3s linear;
    .close-modal-btn{
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
      cursor: pointer;
    }
    .emergency{
      @extend .text;
    }
    .modal-title{
      font-family: 'medium bt';
      font-weight: bold;
      color: $primary-color;
      font-size: 1.94rem;
      margin-top: .81rem;
      margin-bottom: 2.63rem;
    }
    li{
      display: flex;
      align-items: center;
      gap: 1.81rem;
      margin-bottom: 1.56rem;
      a{
        @extend .text;
      }
      div{
        display: flex;
        flex-direction: column;
      }
    }
    .social-cont{
      display: flex;
      gap: 1.31rem;
    
      p{
        font-family: 'medium bt';
        font-weight: 700;
        font-size: 1.13rem;
      }
      .modal-link{
        display: flex;
        gap: 1.38rem;
        img{
          // width: 1rem;
        }
      }
    }
    .emergency{
      margin-top: 1.94rem;
      margin-bottom: 1.69rem;
      a{
        color: red;
      }
    }
  }
}
.intro{
  margin-top: 3rem;
  .container{
    .intro-title{
      font-family: 'medium bt';
      font-weight: 700;
      font-size: 2.44rem;
      line-height: 2.44rem;
      text-align: center;
      margin-bottom: 2.44rem;
    }
    .intro-content{
      @extend .text;
      margin: 0 auto;
      margin-bottom: 2rem;
      text-align: center;
      max-width: 42rem;
      .intro-link{
        color: $primary-color;
        font-weight: bold;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .intro-btn{
      text-align: center;
      a{
        @extend .text;
      }

    }
  }
}
.features {
  position: relative;
  overflow: hidden;
  .f-circle {
    position: absolute;
    top: 1.19rem;
    right: 10.06rem;
    z-index: -1;
  }
  .feature-md {
    display: none;
  }
  .feature-blob {
    position: absolute;
    top: 32.13rem;
    left: 13.38rem;
  }
  .container {
    .features-upper {
      .features-title {
        @extend .h2;
        margin-top: 7.06rem;
        margin-bottom: 1.19rem;
        text-align: center;
      }
      .features-subtitle {
        @extend .text;
        margin-bottom: 1.69rem;
        text-align: center;
      }
    }
    .features-lower {
      max-width: 90%;
      margin: 0 auto;
      margin-top: 7.56rem;
      overflow: visible;
      .owl-nav{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        img{
          width: 2rem;
        }
      }
      .feature-card {
        margin-bottom: 6.06rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        .card-img {
          margin-bottom: 0.75rem;
          width: auto !important;
        }
        .card-title {
          @extend .medium;
          margin-bottom: 0.75rem;
          text-align: center;
        }
        .card-text {
          @extend .text-small;
          width: 15.94rem;
          text-align: center;

        }
      }
    }
  }
}

@include responsive($md) {
  .features {
    .f-circle {
      top: 0rem;
      left: -10.06rem;
      z-index: -1;
    }
    .feature-blob {
      display: none;
    }
    .feature-md {
      display: block;
      position: absolute;
      z-index: -1;
      top: 50%;
      right: -50%;
    }
    .container {
      width: 100%;
      .features-lower {
      display: flex;
      }
    }
  }
}
@include responsive($lg) {
  .features {
    .container {
      .features-upper {
        .features-title {
          font-family: "medium bt";
          font-weight: 700;
          font-size: 2rem;
          line-height: 2.88rem;
          margin-top: 7.06rem;
          margin-bottom: 1.19rem;
        }
      }
    }
    .feature-md {
      top: 25%;
      right: -30%;
    }
  }
}

@include responsive($xl) {
  .features {
    .container {
      .features-upper {
        .features-title {
          font-family: "Futura", 'Poppins';
          font-weight: 700;
          font-size: 3.31rem;
          line-height: 3.98rem;
        }
      }
      .features-lower {
        .feature-card {
          .card-text {
            font-family: "light bt";
            font-size: 1.13rem;
            line-height: 1.75rem;
          }
        }
      }
    }
  }
}

@include responsive($xxl) {
  .features {
    .feature-md {
      right: -15%;
    }
    .f-circle {
      left: 0;
    }
  }
}
.practice {
  position: relative;
  overflow: hidden;
  // background: lightblue;

  .practice-blob1 {
    @extend .absolute;
    top: 35rem;
    left: 9.69rem;
    animation: pulse 5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(6rem);
    }
    100% {
      transform: translateX(0);
    }
  }
  .practice-blob2 {
    @extend .absolute;
    bottom: 5.75rem;
    right: 14rem;
    animation: pulse 5s infinite;
  }
  .container {
    padding: 0 1rem;
    .practice-title {
      @extend .h2;
      text-align: center;
    }
    .practice-card {
      margin-bottom: 4rem;
      .single-card {
        // margin: 0.5rem;
        position: relative;
        margin-top: 2.69rem;
        padding: 1.81rem 1.31rem 1.81rem;
        // height: 21.19rem;
        background: #fff;
        box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        .practice-link{
          margin-top: 1rem;
          display: flex;
          align-items: center;
          gap: .3rem;
          a{
            @extend .text;
            line-height: normal;
            // font-size: 1.3rem;
            font-weight: 700;
            color: $primary-color;
            height: 100%;
          }
          .right-arrow{
            height: 100%;
            padding-bottom: 0;
            padding-top: .3rem;
            transition: all .3s ease-in-out;
            width: 1.2rem;
          }
        }
        .hover {
          position: absolute;
          bottom: 0.2rem;
          left: 0.2rem;
          content: "";
          display: block;
          width: 98%;
          height: 50%;
          background: $primary-color;
          z-index: -1;
          transition: all 0.2s ease-in-out;
        }
        &:hover .hover {
          transform: translateY(1.3rem) rotate(5.54deg);
        }
        &:hover .right-arrow{
          transform: translateX(.5rem);
        }
        img {
          padding-bottom: 1.81rem;
        }
        .single-card-title {
          @extend .medium;
          margin-bottom: 1.5rem;
        }
        .single-card-text {
          @extend .text;
        }
      }
    }
  }
}

@include responsive($md) {
  .practice {
    .practice-blob1 {
      left: 80%;
      top: 15rem;
    }
    .practice-blob2 {
      bottom: 0;
      right: 34rem;
    }
    .container {
      // width: 100%;
      .practice-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        .single-card {
          // width: 21.19rem;
          width: auto;
          height: auto;
          margin: 0;
          margin-top: 2.69rem;
        }
      }
    }
  }
}

@include responsive($lg) {
  .practice {
    .practice-blob2 {
      bottom: 0;
      right: 54rem;
    }
    .container {
      padding-right: 1rem;
      width: 90%;
      .practice-card {
        grid-template-columns: 1fr 1fr 1fr;
       
      }
    }
  }
}

@include responsive($xl) {
  .practice {
    .practice-blob2 {
      bottom: 0;
      right: 74rem;
    }
  }
}
@include responsive($xxl) {
  .practice {
    .practice-blob1 {
      left: 90%;
    }
    .practice-blob2 {
      bottom: 0;
      right: 95rem;
    }
  }
}
.testimonials {
  margin-top: 5.69rem;
  background: linear-gradient(180deg, #fdfdfd 0%, rgba(253, 253, 253, 0) 100%);
  .testi-title {
    @extend .h2;
    margin-top: 2.56rem;
    margin-bottom: 1.56rem;
    text-align: center;
  }
  .container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    .testi-container {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 0;
      }
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      width: auto;
      margin: 0 auto;
      .testi-card {
        width: 20.56rem;
        margin-top: 3.88rem;
        background: #fff;
        border: 1px solid #e4e4e4;
        .testi-img {
          margin-top: -1.63rem;
          margin-left: 1.19rem;
        }
        .testi-text {
          @extend .text;
          margin: 1rem 1.2rem 0.81rem 1rem;
        }
        .testi-footer {
          margin: 0 0.69rem 2rem 1rem;
          display: flex;
          justify-content: space-between;
          .testi-name {
            @extend .medium;
          }
          .icons-container {
            display: flex;
            gap: 0.5rem;
          }
        }
      }
    }
  }
}

@include responsive($xxl) {
  .testimonials {
    .container {
      .testi-container {
        gap: 7rem;
      }
    }
  }
}
.attorney {
  margin-top: 4.44rem;
  .attorney-title {
    @extend .h2;
    text-align: center;
  }
  .attorney-container {
    .attorney-img {
      margin-top: 3.69rem;
      width: 22.25rem;
    }
    .container {
      .attorney-text {
        @extend .text;
        max-width: 40rem;
        line-height: 2.31rem;
        margin-top: 4.44rem;
      }
      a {
        font-size: 1rem;
        margin-top: 2.88rem;
      }
      .attorney-btn{
        text-align: center;
      }
    }
  }
}
@include responsive($md) {
  .attorney {
    .attorney-container {
      .attorney-img {
        width: 40rem;
      }
      .container{
        .attorney-btn{
          text-align: left;
        }
      }
    }
  }
}

@include responsive($lg) {
  .attorney {
    margin: 7rem 0;
    .attorney-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      .container {
        a {
          margin-top: 0.88rem;
        }
      }
    }
  }
}
@include responsive($xxl) {
  .attorney {
    .attorney-container {
      align-items: center;
      .attorney-img {
        width: 58rem;
      }
      .container {
        .attorney-text {
          font-size: 1.13rem;
        }
      }
    }
  }
}
.laws {
  position: relative;
  margin-top: 4.25rem;
  overflow: hidden;
  padding-top: 6.44rem;
  padding-bottom: 2.38rem;
  .law-upper {
    @extend .absolute;
    top: 0;
    left: 13.38rem;
    animation: updown 5s infinite;
  }
  @keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes downup {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  .law-lower {
    @extend .absolute;
    bottom: 0;
    right: 4.19rem;
    animation: updown 5s infinite;
  }
  .laws-title {
    @extend .h2;
  }
  .laws-cards {
    margin-top: 2.31rem;

    .law-card {
      background: #fff;
      border: 1px solid #e3e3e3;
      border-radius: 0.63rem;
      margin-bottom: 3.5rem;
      max-width: 26rem;
      transition: all 0.3s linear;
      .law-card-img {
        object-fit: cover;
        border-top-left-radius: 0.63rem;
        border-top-right-radius: 0.63rem;
        filter: grayscale(1);
        width: 26rem;
        transition: all 0.3s linear;
      }
      .container {
        padding-top: 1.38rem;
        .law-card-date {
          margin-bottom: 2.25rem;
          @extend .text-small;
          color: #7d7d7d;
        }
        .law-card-title {
          @extend .h4;
          margin-bottom: 2rem;
          transition: all 0.3s linear;
        }
      }
      &:hover .law-card-title {
        color: $primary-color;
      }
      &:hover {
        box-shadow: 2px 2px 41px rgba(0, 0, 0, 0.12);
      }
      &:hover .law-card-img {
        filter: grayscale(0);
      }
    }
  }
}

@include responsive($md) {
  .laws {
    .law-upper {
      top: 0;
      left: 33.38rem;
    }
    .law-lower {
      bottom: 0;
      right: 34.19rem;
    }
    .laws-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      .law-card {
        .law-card-img {
          height: 18.63rem;
        }
      }
    }
  }
}

@include responsive($lg) {
  .laws {
    .law-upper {
      top: 0;
      left: 53.38rem;
    }
    .law-lower {
      bottom: 0;
      right: 48.19rem;
    }
    .laws-cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@include responsive($xl) {
  .laws {
    .law-upper {
      top: 0;
      left: 76.38rem;
    }
    .law-lower {
      bottom: 0;
      right: 68.19rem;
    }
  }
}

@include responsive($xxl) {
  .laws {
    .law-upper {
      top: 0;
      left: 98.38rem;
    }
    .law-lower {
      bottom: 0;
      right: 98.19rem;
    }
  }
}
.title {
  font-family: "medium bt";
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 2.25rem;
}
.footer {
  background: $secondary-color;
  margin-top: 10.94rem;
  
  overflow-x: hidden;
 
  .container {
    padding-top: 4.5rem;
    .footer-logo {
      .logo {
        margin: 0 auto;
        margin-bottom: 3.25rem;
        width: 10.5rem;
      }
      .icon-container {
        display: flex;
        gap: 1rem;
        justify-content: center;
      }
    }
    .footer-contact {
      margin-top: 6.38rem;
      .footer-contact-title {
        @extend .title;
        text-align: center;
      }
      .contact-info {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 1.19rem;
        div {
          .location {
            width: 9.85rem;
          }
          p {
            margin-bottom: 0.5rem;
            @extend .text;
            color: #fff;
          }
        }
      }
    }
    .corporate {
      margin-top: 2.56rem;
      .corporate-title {
        @extend .title;
        text-align: center;
      }
      ul {
        text-align: center;
        li {
          max-width: 12.5rem;
          margin: 0 auto;
          margin-bottom: 1rem;
          a {
            color: #fff;
            @extend .text;
            &:hover{
              color: #f4f4f4;
            }
          }
        }
      }
    }
    .single {
      .single-title {
        @extend .title;
        margin-top: 4.38rem;
        text-align: center;
      }
      ul {
        text-align: center;
        li {
          margin-bottom: 1rem;
          a {
            color: #fff;
            @extend .text;
          }
        }
      }
    }
  }

  .copyright {
    margin-top: 7rem;
    @extend .text-small;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding-bottom: 2.38rem;
    a {
      color: #fff;
    }
  }
}

@include responsive($md) {
  .footer {
    .container {
      .footer-logo{
        .logo{
          margin: 0 0 3.25rem;
        }
        .icon-container{
          justify-content: flex-start;
        }
      }
      .single{
        .single-title{
          text-align: left;
        }
        ul{
          text-align: left;
        }
      }
      .corporate{
        .corporate-title{
          text-align: left;
        }
        ul{
          text-align: left;
          li{
            margin: 0 0 1rem;
          }
        }
      }
      .footer-contact {
        margin-top: 0;
        .footer-contact-title{
          text-align: left;
        }
        .contact-info{
          justify-content: flex-start;
        }
      }
      .corporate {
        margin: 0;
      }
      .single {
        .single-title {
          margin-top: 0;
        }
      }
    }
  }
}

@include responsive($lg) {
  .footer {
    .container {
      // gap: 1rem;
      justify-content: center;
    }
  }
}

.home-map{
  background: #fff;
}
.footer-map {
  margin-top: 2rem;
  overflow: hidden;
  .map-container {
    .location {
      .map-responsive {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 17rem;

        max-height: 31.94rem;
        iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }
    }
  }
}