<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   
    <title>Abent Law Office</title>
  </head>

  <body>
    <header id="app" class="header">
      <nav class="nav" id="nav"></nav>

      <section class="banner">
        <div class="banner-content container">
          <h1 class="banner-title">Enim nisi diam et ultrices elit.</h1>
          <p class="banner-subtitle">
            The Law Office of Abnet Solomon (aka AbnetLaw)
          </p>
          <a href="./contact.html" class="btn btn-rounded-secondary text cta-btn"
            >Contact Us</a
          >
        </div>
      </section>
    </header>

    <section class="features">
      <img src="./img/feature_circle.png" class="f-circle" alt="" />

      <img src="./img/law-blob.jpg" alt="" class="feature-md" />
      <div class="container">
        <div class="features-upper col-md-6 col-lg-3 col-xl-4">
          <h1 class="features-title">What Makes You Choose Us?</h1>
          <p class="features-subtitle">
            Being passionate about the law & striving for the highest standard
            of service!
          </p>
        </div>

        <div class="features-lower owl-carousel">
          <div class="feature-card">
            <img src="./img/digital.svg" alt="" class="card-img" />
            <h2 class="card-title">Digitally Available</h2>
            <p class="card-text">
              We offer our services digitally and we are available 16hrs/day for
              meeting you online.
            </p>
          </div>

          <div class="feature-card">
            <img src="./img/idea.svg" alt="" class="card-img" />
            <h2 class="card-title">Our Philosophy</h2>
            <p class="card-text">
              Handling every client’s need/case with a customized and
              personalized service is key to client satisfaction.
            </p>
          </div>

          <div class="feature-card">
            <img src="./img/math.svg" alt="" class="card-img" />
            <h2 class="card-title">Our Math</h2>
            <p class="card-text">
              Fewer cases + customized services = better results + satisfied
              customers. We take fewer cases and offer customized services.
            </p>
          </div>

          <div class="feature-card">
            <img src="./img/mission.svg" alt="" class="card-img" />
            <h2 class="card-title">Our Mission</h2>
            <p class="card-text">
              Serving as a bridge between you and your interest in Ethiopia! We
              are dedicated to offering the best-in-class legal services in
              Ethiopia.
            </p>
          </div>

          <div class="feature-card">
            <img src="./img/agree.svg" alt="" class="card-img" />
            <h2 class="card-title">What Can't We Agree On More?</h2>
            <p class="card-text">
              Ready-made solutions are not really “ready” to solve all problems.
              We always propose a tailor-made approach to offer personalized
              legal services.
            </p>
          </div>

          <div class="feature-card">
            <img src="./img/law.svg" alt="" class="card-img" />
            <h2 class="card-title">We Know It! We Live With It!</h2>
            <p class="card-text">
              Every legal problem is unique – and so are our clients.
Therefore two legal cases and their respective solutions will never be the same.

            </p>
          </div>
        </div>
      </div>
      <svg
        class="feature-blob"
        width="906"
        height="959"
        viewBox="0 0 906 959"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M127.376 105.672C55.3792 182.731 30.0363 297.169 13.3331 410.457C-3.37019 523.17 -10.8579 635.307 30.6123 729.618C72.6584 823.929 163.662 900.988 267.338 936.067C371.589 971.146 488.512 965.395 586.427 922.84C684.343 880.285 762.675 801.501 822.001 707.191C881.326 612.88 920.492 503.617 900.909 407.006C880.75 309.82 801.842 225.861 714.293 152.252C626.745 78.069 529.982 14.2367 422.851 2.16033C315.719 -9.91604 198.797 29.1884 127.376 105.672Z"
          fill="url(#paint0_linear_543:6208)"
          fill-opacity="0.1"
        />
        <defs>
          <linearGradient
            id="paint0_linear_543:6208"
            x1="906"
            y1="959"
            x2="-79.3826"
            y2="864.337"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#4B79A1" />
            <stop offset="0.19843" stop-color="#3594B6" />
            <stop offset="0.403365" stop-color="#24AEBF" />
            <stop offset="0.580183" stop-color="#3FC7BE" />
            <stop offset="0.776131" stop-color="#71DEB5" />
          </linearGradient>
        </defs>
      </svg>
    </section>

    <section class="practice">
      <svg
        width="491"
        class="practice-blob1"
        height="519"
        viewBox="0 0 491 519"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M421.97 57.1886C460.988 98.8919 474.722 160.824 483.774 222.135C492.826 283.134 496.884 343.821 474.41 394.861C451.623 445.901 402.304 487.604 346.118 506.589C289.62 525.573 226.255 522.461 173.19 499.431C120.125 476.4 77.6738 433.763 45.5228 382.724C13.3719 331.684 -7.85392 272.552 2.759 220.267C13.6841 167.671 56.4479 122.233 103.894 82.3973C151.34 42.2501 203.78 7.70475 261.839 1.16915C319.898 -5.36645 383.264 15.7964 421.97 57.1886Z"
          fill="url(#paint0_linear_578:816)"
          fill-opacity="0.1"
        />
        <defs>
          <linearGradient
            id="paint0_linear_578:816"
            x1="-7.02649e-06"
            y1="519"
            x2="534.007"
            y2="467.628"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#4B79A1" />
            <stop offset="0.19843" stop-color="#3594B6" />
            <stop offset="0.403365" stop-color="#24AEBF" />
            <stop offset="0.580183" stop-color="#3FC7BE" />
            <stop offset="0.776131" stop-color="#71DEB5" />
          </linearGradient>
        </defs>
      </svg>

      <svg
        width="491"
        class="practice-blob2"
        height="519"
        viewBox="0 0 491 519"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M421.97 57.1886C460.988 98.8919 474.722 160.824 483.774 222.135C492.826 283.134 496.884 343.821 474.41 394.861C451.623 445.901 402.304 487.604 346.118 506.589C289.62 525.573 226.255 522.461 173.19 499.431C120.125 476.4 77.6738 433.763 45.5228 382.724C13.3719 331.684 -7.85392 272.552 2.759 220.267C13.6841 167.671 56.4479 122.233 103.894 82.3973C151.34 42.2501 203.78 7.70475 261.839 1.16915C319.898 -5.36645 383.264 15.7964 421.97 57.1886Z"
          fill="url(#paint0_linear_578:816)"
          fill-opacity="0.1"
        />
        <defs>
          <linearGradient
            id="paint0_linear_578:816"
            x1="-7.02649e-06"
            y1="519"
            x2="534.007"
            y2="467.628"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#4B79A1" />
            <stop offset="0.19843" stop-color="#3594B6" />
            <stop offset="0.403365" stop-color="#24AEBF" />
            <stop offset="0.580183" stop-color="#3FC7BE" />
            <stop offset="0.776131" stop-color="#71DEB5" />
          </linearGradient>
        </defs>
      </svg>
      <div class="container">
        <h1 class="practice-title">Our Services</h1>

        <div class="practice-card" id="card">
          <div
            class="single-card"
            v-for="practice in practiceCard"
            :key="practice.id"
          >
            <img :src="practice.img" alt="" class="pra-img" />
            <h2 class="single-card-title">{{ practice.title }}</h2>
            <p class="single-card-text">{{ practice.text }}</p>
            <div class="practice-link">

              <a :href="practice.url" >Learn More </a>
           
                <img src="./img/arrow-right.svg" class="right-arrow" alt="">

            
            </div>
            <div class="hover"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="attorney">
      <h1 class="attorney-title">About Us</h1>
      <div class="attorney-container">
        <img src="./img/attorney.jpg" class="attorney-img" alt="" />
        <div class="container">
          <p class="attorney-text">
            Abnet Solomon Law Office (aka AbnetLaw) is an Addis Ababa-based
            legal services provider we were founded with the inspiration to
            elevate the legal services experience in Ethiopia to a higher level
            of efficiency, and with the clear goal of becoming a client-focused,
            customized, and individualized leading legal services provider in
            Ethiopia defined through a reputation of consistent professionalism
            and diligence.
            <br />
            <br />

            At AbnetLaw our philosophy is guided by representing fewer clients
            at a time. We believe that this mode of operation allows us to
            provide more intimate attention to each of our clients and their
            cases, we consider our firm to be client-centric and a best-in-class
            legal services provider in Ethiopia. We assure our clients that
            AbnetLaw is uniquely positioned to personalize the client experience
            by means of offering both dedicated and personalized attention to
            each client and their respective case.
          </p>
          <div class="attorney-btn">
            <a href="./about.html" class="btn btn-rounded-outline-primary text">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="testimonials">
      <h1 class="testi-title">Testimonials</h1>
      <div class="container">
        <!-- <div class="testi-container" id="testi">
          <div class="testi-card" v-for="testi in testiCard" :key="testi.id">
            <img :src="testi.img" class="testi-img" alt="" />

            <p class="testi-text">{{testi.text}}</p>
            <div class="testi-footer">
              <h2 class="testi-name">{{ testi.name }}</h2>

              <div class="icons-container">
                <a :href="testi.url.twitter">
                  <img src="./img/twitter.svg" alt="" />
                </a>

                <a :href="testi.url.linkedin">
                  <img src="./img/linkedin.svg" alt="" />
                </a>

                <a :href="testi.url.fb">
                  <img src="./img/facebook.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div> -->
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-557f9e9b-254b-488f-9bfc-4a88ed3d7cc7"></div>
      </div>
    </section>

    <section class="attorney">
      <h1 class="attorney-title">Meet Our Attorney</h1>
      <div class="attorney-container">
        <img src="./img/attorney.jpg" class="attorney-img" alt="" />
        <div class="container">
          <p class="attorney-text">
            Abnet S. Melkamu is the founder and owner of the Law Office of Abnet
            Solomon (aka AbnetLaw). He is admitted to practice law in all levels
            of the Federal Courts. He is also admitted to practice before the
            Addis Ababa city municipality courts. His practices encompass all
            kinds of business transactions and business disputes.

            <br />
            <br />
            Being an attorney has been a long-standing goal for Abnet, and he
            founded AbnetLaw in 2018 with the ambition of improving the quality
            of Ethiopian legal services by introducing a tailor-made, unique
            legal service and providing all-round, one-stop, multi-level,
            high-quality services for the best satisfaction of his clients.
            Since then, his main focus has been continuing to provide customized
            and personalized legal services to international medium and small
            businesses.
          </p>
          <div class="attorney-btn">
            <a
              href="./attorney.html"
              class="btn btn-rounded-outline-primary text"
            >
              Read Full Attorney Profile
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="laws">
      <img src="./img/law-blob.jpg" class="law-upper" alt="" />
      <h1 class="laws-title text-center">Laws</h1>
      <div class="laws-cards container" id="laws">
        <div class="law-card" v-for="law in lawCard" :key="law.id">
          <img :src="law.img" class="law-card-img" alt="" />

          <div class="container">
            <p class="law-card-date">{{ law.date }}</p>

            <h2 class="law-card-title">{{ law.title }}</h2>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="#" class="btn btn-rounded-primary text-small">See more</a>
      </div>
      <img src="./img/law-blob2.jpg" class="law-lower" alt="" />
    </section>

    <div class="wrapper home-map">
      <section class="map">
        <h1 class="map-title text-center"> Our Location</h1>
        <div class="map-container">
            <div class="location">
            
            
                <div class="map-responsive">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31524.79637381019!2d38.7352328!3d9.008945!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x348dd376367ef740!2sAbnet%20Solomon%20Law%20Office!5e0!3m2!1sen!2sus!4v1636356237473!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                
             </div>
        </div>
        
     </section>

    </div>

    <footer class="footer" id="foooter">
    </footer>
    <script src="./js/app.js" type="module"></script>
    <script>
      $(".features-lower").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 3000,
        autoplayHoverPause: true,
        responsive: {
          0:{
            items: 1,
            nav: false
          },
          600:{
            items: 2,
            nav: false
          },
          1000: {
            items: 3,
            nav: false
          }
        }
      });
    </script>
  </body>
</html>
