<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Abent Law Office</title>
  </head>

  <body>
    <header id="app" class="header">
      <nav class="nav" id="nav"></nav>

      <section class="banner">
        <!-- <figure>
          <div class="slide">
            <h1 class="banner-title">CONSOLIDATED WITH</h1>
            <p class="banner-subtitle">
              profound local knowledge and immense international experience
            </p>
            <img src="./img/homedesktop1.png" alt="">
  
          </div>
          <div class="slide">
            <h1 class="banner-title">SERVING AS</h1>
            <p class="banner-subtitle">
              a legal bridge between you and your interest in Ethiopia!
            </p>
            <img src="./img/homedesktop2.png" alt="">
  
          </div>
          <div class="slide">
            <h1 class="banner-title">PROVIDING</h1>
            <p class="banner-subtitle">
              a full-ranged one-stop legal solution!
            </p>
            <img src="./img/homedesktop3.png" alt="">
  
          </div>
        </figure> -->
        <!-- <div class="owl-carousel owl-theme">
          <div class="item1">
          <img src="./img/phone1.png" alt="">
          </div>
          <div class="item2">
            <img src="./img/phone2.png" alt="">
          </div>
          <div class="item3">
            <img src="./img/phone3.png" alt="">
          </div>
        </div> -->
        <div class="banner-content container">
          <h1 class="banner-title"><span> </span></h1>
          <p class="banner-subtitle">
            <span> </span>
          </p>
          <a
            href="./contact.html"
            class="btn btn-rounded-secondary text cta-btn"
            >Contact Us</a
          >
        </div>
      </section>
    </header>
    <div class="contact-modal">
      <ul class="modal-inner">
        <img src="./img/close-modal.svg" class="close-modal-btn" alt="" />
        <h3 class="modal-title">Reach Out</h3>
        <li>
          <a href="tel:+251946634663"
            ><img src="./img/phone-modal.svg" alt=""
          /></a>
          <a href="tel:+251946634663">+251946634663</a>
        </li>
        <li>
          <a href="mailto:info@abnetlaw.com"
            ><img src="./img/email-modal.svg" alt=""
          /></a>
          <div>
            <a href="mailto:info@abnetlaw.com">info@abnetlaw.com</a>
            <a href="mailto:abnet@abnetlaw.com">abnet@abnetlaw.com</a>
          </div>
        </li>
        <div class="social-cont">
          <p>Socials:</p>
          <div class="modal-link">
            <a href="">
              <img src="./img/whatsapp-side.svg" alt="" />
            </a>
            <a href="">
              <img src="./img/telegram-side.svg" alt="" />
            </a>
          </div>
        </div>

        <p class="emergency">
          <a href="tel:+251946634663"> 24hrs Emergency: +251946634663 </a>
        </p>
      </ul>
    </div>
    <article class="reach-out">
      <button>Reach out</button>
    </article>
    <section class="intro">
      <div class="container">
        <h1 class="intro-title">Welcome To Abnet Solomon Law Office</h1>
        <p class="intro-content">
          Based in Addis Ababa, Abnet Solomon Law Office (aka AbnetLaw) offers
          full-fledged, high standard professional legal services, from legal
          consultation to trial representation
          <a href="./corp.html" class="intro-link">
            for its international and domestic clients.
          </a>
          <br />
          <br />
          At AbnetLaw, we believe in fewer clients, more personal attention, and
          discreetly treating each of our clients on an individual basis.
        </p>
        <div class="intro-btn">
          <a href="./about.html" class="btn btn-rounded-primary"> Learn More</a>
        </div>
      </div>
    </section>
    <section class="features">
      <img src="./img/feature_circle.png" class="f-circle" alt="" />

      <img src="./img/law-blob.jpg" alt="" class="feature-md" />
      <div class="container">
        <div class="features-upper col-md-6 col-lg-3 col-xl-4">
          <h1 class="features-title">What Makes You Choose Us?</h1>
          <p class="features-subtitle">
            Being passionate about the law & striving for the highest standard
            of service!
          </p>
        </div>
        <div class="container-list">
          <!-- <div class="feature-card item">
            <img src="./img/digital1.svg" alt="" class="card-img" />
            <h2 class="card-title">Digitally Available</h2>
            <p class="card-text">
              We offer our services digitally and we are available 16hrs/day for
              meeting you online.
            </p>
          </div> -->
          <div class="feature-card item">
            <img src="./img/commit1.svg" alt="" class="card-img" />
            <h2 class="card-title">Our Commitement</h2>
            <p class="card-text">
              Being passionate about the law & striving for the highest standard
              of service!
            </p>
          </div>
          <div class="feature-card item">
            <img src="./img/mission1.svg" alt="" class="card-img" />
            <h2 class="card-title">Our Mission</h2>
            <p class="card-text">
              Serving as a bridge between you and your interest in Ethiopia!
            </p>
          </div>
          <div class="feature-card item">
            <img src="./img/idea1.svg" alt="" class="card-img" />
            <h2 class="card-title">Our Philosophy</h2>
            <p class="card-text">
              Handling every client’s need/case with a customized and
              personalized service is key to client satisfaction.
            </p>
          </div>

          <div class="feature-card item">
            <img src="./img/online1.svg" alt="" class="card-img" />
            <h2 class="card-title">We Offer Our Services Online!</h2>
            <p class="card-text">
              We are available for virtual video and audio meetings online 16
              hours a day, seven days a week.
            </p>
          </div>

          <div class="feature-card item">
            <img src="./img/math1.svg" alt="" class="card-img" />
            <h2 class="card-title">Our Math</h2>
            <p class="card-text">
              Fewer cases + customized services = better results + satisfied
              customers.
            </p>
          </div>

          <div class="feature-card item">
            <img src="./img/agree1.svg" alt="" class="card-img" />
            <h2 class="card-title">What Can't We Agree On More?</h2>
            <p class="card-text">
              Ready-made solutions are not really “ready” to solve all problems.
            </p>
          </div>
          <div></div>
          <div class="feature-card item">
            <img src="./img/law1.svg" alt="" class="card-img" />
            <h2 class="card-title">We Know It! We Live With It!</h2>
            <p class="card-text">
              Every legal problem is unique – and so are our clients.
            </p>
          </div>
          <div ></div>
        </div>
        <!-- <div class="owl-container">
          <div class="features-lower owl-carousel owl-theme">
            <div class="feature-card item">
              <img src="./img/digital.svg" alt="" class="card-img" />
              <h2 class="card-title">Digitally Available</h2>
              <p class="card-text">
                We offer our services digitally and we are available 16hrs/day
                for meeting you online.
              </p>
            </div>

            <div class="feature-card item">
              <img src="./img/idea.svg" alt="" class="card-img" />
              <h2 class="card-title">Our Philosophy</h2>
              <p class="card-text">
                Handling every client’s need/case with a customized and
                personalized service is key to client satisfaction.
              </p>
            </div>
            <div class="feature-card item">
              <img src="./img/commit.svg" alt="" class="card-img" />
              <h2 class="card-title">Our Commitement</h2>
              <p class="card-text">
                Being passionate about the law & striving for the highest standard of service!
              </p>
            </div>
            <div class="feature-card item">
              <img src="./img/online.svg" alt="" class="card-img" />
              <h2 class="card-title">We Offer Our Services Online!</h2>
              <p class="card-text">
           We are available for virtual video and audio meetings online 16 hours a day, seven days a week.
              </p>
            </div>

            <div class="feature-card item">
              <img src="./img/math.svg" alt="" class="card-img" />
              <h2 class="card-title">Our Math</h2>
              <p class="card-text">
                Fewer cases + customized services = better results + satisfied
                customers.
              </p>
            </div>

            <div class="feature-card item">
              <img src="./img/mission.svg" alt="" class="card-img" />
              <h2 class="card-title">Our Mission</h2>
              <p class="card-text">
                Serving as a bridge between you and your interest in Ethiopia!
               
              </p>
            </div>

            <div class="feature-card item">
              <img src="./img/agree.svg" alt="" class="card-img" />
              <h2 class="card-title">What Can't We Agree On More?</h2>
              <p class="card-text">
                Ready-made solutions are not really “ready” to solve all
                problems. 
              </p>
            </div>

            <div class="feature-card item">
              <img src="./img/law.svg" alt="" class="card-img" />
              <h2 class="card-title">We Know It! We Live With It!</h2>
              <p class="card-text">
                Every legal problem is unique – and so are our clients.
              </p>
            </div>
          </div>
        </div> -->
      </div>
      <svg
        class="feature-blob"
        width="906"
        height="959"
        viewBox="0 0 906 959"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M127.376 105.672C55.3792 182.731 30.0363 297.169 13.3331 410.457C-3.37019 523.17 -10.8579 635.307 30.6123 729.618C72.6584 823.929 163.662 900.988 267.338 936.067C371.589 971.146 488.512 965.395 586.427 922.84C684.343 880.285 762.675 801.501 822.001 707.191C881.326 612.88 920.492 503.617 900.909 407.006C880.75 309.82 801.842 225.861 714.293 152.252C626.745 78.069 529.982 14.2367 422.851 2.16033C315.719 -9.91604 198.797 29.1884 127.376 105.672Z"
          fill="url(#paint0_linear_543:6208)"
          fill-opacity="0.1"
        />
        <defs>
          <linearGradient
            id="paint0_linear_543:6208"
            x1="906"
            y1="959"
            x2="-79.3826"
            y2="864.337"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#4B79A1" />
            <stop offset="0.19843" stop-color="#3594B6" />
            <stop offset="0.403365" stop-color="#24AEBF" />
            <stop offset="0.580183" stop-color="#3FC7BE" />
            <stop offset="0.776131" stop-color="#71DEB5" />
          </linearGradient>
        </defs>
      </svg>
    </section>

    <section class="practice">
      <svg
        width="491"
        class="practice-blob1"
        height="519"
        viewBox="0 0 491 519"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M421.97 57.1886C460.988 98.8919 474.722 160.824 483.774 222.135C492.826 283.134 496.884 343.821 474.41 394.861C451.623 445.901 402.304 487.604 346.118 506.589C289.62 525.573 226.255 522.461 173.19 499.431C120.125 476.4 77.6738 433.763 45.5228 382.724C13.3719 331.684 -7.85392 272.552 2.759 220.267C13.6841 167.671 56.4479 122.233 103.894 82.3973C151.34 42.2501 203.78 7.70475 261.839 1.16915C319.898 -5.36645 383.264 15.7964 421.97 57.1886Z"
          fill="url(#paint0_linear_578:816)"
          fill-opacity="0.1"
        />
        <defs>
          <linearGradient
            id="paint0_linear_578:816"
            x1="-7.02649e-06"
            y1="519"
            x2="534.007"
            y2="467.628"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#4B79A1" />
            <stop offset="0.19843" stop-color="#3594B6" />
            <stop offset="0.403365" stop-color="#24AEBF" />
            <stop offset="0.580183" stop-color="#3FC7BE" />
            <stop offset="0.776131" stop-color="#71DEB5" />
          </linearGradient>
        </defs>
      </svg>

      <svg
        width="491"
        class="practice-blob2"
        height="519"
        viewBox="0 0 491 519"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M421.97 57.1886C460.988 98.8919 474.722 160.824 483.774 222.135C492.826 283.134 496.884 343.821 474.41 394.861C451.623 445.901 402.304 487.604 346.118 506.589C289.62 525.573 226.255 522.461 173.19 499.431C120.125 476.4 77.6738 433.763 45.5228 382.724C13.3719 331.684 -7.85392 272.552 2.759 220.267C13.6841 167.671 56.4479 122.233 103.894 82.3973C151.34 42.2501 203.78 7.70475 261.839 1.16915C319.898 -5.36645 383.264 15.7964 421.97 57.1886Z"
          fill="url(#paint0_linear_578:816)"
          fill-opacity="0.1"
        />
        <defs>
          <linearGradient
            id="paint0_linear_578:816"
            x1="-7.02649e-06"
            y1="519"
            x2="534.007"
            y2="467.628"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#4B79A1" />
            <stop offset="0.19843" stop-color="#3594B6" />
            <stop offset="0.403365" stop-color="#24AEBF" />
            <stop offset="0.580183" stop-color="#3FC7BE" />
            <stop offset="0.776131" stop-color="#71DEB5" />
          </linearGradient>
        </defs>
      </svg>
      <div class="container">
        <h1 class="practice-title">Our Services</h1>

        <div class="practice-card" id="card">
          <div
            class="single-card"
            v-for="practice in practiceCard"
            :key="practice.id"
          >
            <img :src="practice.img" alt="" class="pra-img" />
            <h2 class="single-card-title">{{ practice.title }}</h2>
            <p class="single-card-text">{{ practice.text }}</p>
            <div class="practice-link">
              <a :href="practice.url">Learn More </a>

              <img src="./img/arrow-right.svg" class="right-arrow" alt="" />
            </div>
            <div class="hover"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ltr">
      <div class="container">
        <div class="ltr-content">
          <h1>Do You Need Long Term Partnership?</h1>
          <p>
            We are providing a long-term service on a retainer basis only for
            our corporate clients. For more information, please contact us.
          </p>
          <a href="./contact.html" class="btn btn-rounded-primary"
            >Contact Today!</a
          >
        </div>
      </div>
    </section>
    <section class="testimonials">
      <h1 class="testi-title">Testimonials</h1>
      <div class="container">
        <div class="test-card">
          <div class="star">
            <img src="./img/star.svg" alt="" />
            <div class="review">Google Review</div>
          </div>
          <p>
            Positive: Professionalism, Quality, Value A lawyer who is both
            knowledgeable and personable. Abnet is an outstanding lawyer. Abnet
            is really a lawyer that I would confidently recommend to anyone who
            needs an honest, competent, and friendly lawyer.
          </p>

          <div class="client-name">- Haile Andarg</div>
        </div>
        <div class="test-card">
          <div class="star">
            <img src="./img/star.svg" alt="" />
            <div class="review">Google Review</div>
          </div>
          <p>
            I have recived legal services from Law Office of Abnet Solomon. I
            found the services very satisfying with high quality.The Office is
            aquinted with both domestic and international laws' expertise. I
            would recommend future clients to use the Office.
            <!-- <br><b>Dr. Zerihun  Yimer</b>  -->
          </p>
          <div class="client-name">- Zerihun Geleta</div>
        </div>
        <div class="test-card">
          <div class="star">
            <img src="./img/star.svg" alt="" />
            <div class="review">Google Review</div>
          </div>
          <p>
            The experience of being represented by Abnet far exceeded even my
            best-expectations. His style of advocacy is a gentle and composed
            one - he isn't at all bullish or inappropriately demanding within
            the sensitive arena of the courtroom - he carries himself
            gracefully.
          </p>
          <div class="client-name">- Negus Estifanos</div>
        </div>

        <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-557f9e9b-254b-488f-9bfc-4a88ed3d7cc7"></div> -->
      </div>
      <div class="test-btn">

        <a
          href="https://www.google.com/search?q=abnet+law+office&oq=abnet+law+office&aqs=chrome..69i57j69i60l3.18786j0j1&sourceid=chrome&ie=UTF-8#lrd=0x164b87a7c496ba99:0x348dd376367ef740,1,,,"
          class="btn btn-rounded-outline-primary text"
        >
          Read More Reviews
        </a>
      </div>
    </section>
    <section class="attorney">
      <h1 class="attorney-title">Meet Our Attorney</h1>
      <div class="attorney-container">
        <div class="attorney-image">
          <img src="./img/3.png" class="attorney-img" alt="" />
        </div>
        <div class="container">
          <h1>Abnet Solomon Melkamu</h1>
          <p class="attorney-text">
            is the principal attorney and founder of Abnet Solomon Law Office.
            <br />

            He is an experienced and passionate attorney who strives to provide
            high-standard and client centered legal services in Ethiopia.
          </p>
          <a href="./attorney.html" class="btn btn-rounded-secondary text">
            Read Full Attorney Profile
          </a>
        </div>
      </div>
    </section>
    <!-- <section class="attorney">
      <h1 class="attorney-title">Meet Our Attorney</h1>
      <div class="attorney-container">
        <img src="./img/3.png" class="attorney-img" alt="" />
        <div class="container">
          <p class="attorney-text">
            Abnet Solomon MELKAMU is the principal attorney and founder of Abnet
            Solomon Law Office.
            <br />

            He is an experienced and passionate attorney who strives to provide
            high-standard and clientcentered legal services in Ethiopia.
          </p>
          <div class="attorney-btn">
            <a
              href="./attorney.html"
              class="btn btn-rounded-outline-primary text"
            >
              Read Full Attorney Profile
            </a>
          </div>
        </div>
      </div>
    </section> -->
    <section class="how-can">
      <div>
        <h1>How Can We Help You?</h1>
        <p>
          We believe in providing tailored and personalized services. Our
          philosophy is to respond to each client's request with unwavering
          dedication and personalized service.
          <br />
        </p>
        <a href="./contact.html" class="btn btn-rounded-primary"
          >Contact Today!</a
        >
      </div>
    </section>

    <section class="laws">
      <img src="./img/law-blob.jpg" class="law-upper" alt="" />
      <h1 class="laws-title text-center">Legal Resources</h1>
      <div class="laws-cards container" id="laws">
        <div class="law-card" v-for="law in lawCard" :key="law.id">
          <img :src="law.img" class="law-card-img" alt="" />

          <div class="container">
            <p class="law-card-date">{{ law.date }}</p>

            <h2 class="law-card-title">{{ law.title }}</h2>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="#" class="btn btn-rounded-primary text-small">See more</a>
      </div>
      <img src="./img/law-blob2.jpg" class="law-lower" alt="" />
    </section>

    <footer class="footer" id="footer"></footer>
    <script src="./js/app.js" type="module"></script>
    <!-- <script type="text/javascript">
      let bannerimg = document.getElementById('banner-img');
      let bannerimgs = ['home1.jpg','home2.jpg', 'home3.jpg']
      setInterval(function(){
        let random = Math.floor(Math.radom() * 4);
      bannerimg.src = bannerimgs[random];
    },800);
      
      
    </script> -->

    <script>
      const nexticon = `<img src="./img/right2.svg" alt="">`;
      const previcon = `<img src="./img/left2.svg" alt="">`;
      $(".features-lower").owlCarousel({
        nav: true,
        loop: true,
        autoplay: true,
        navText: [previcon, nexticon],
        autoplayTimeout: 6000,
        autoplayHoverPause: true,
        responsive: {
          0: {
            items: 1,
            nav: false,
          },
          600: {
            items: 2,
            nav: false,
          },
          1000: {
            items: 3,
            nav: false,
          },
        },
      });
    </script>
  </body>
</html>
